In [ ]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
#Read the data
df=pd.read_csv('/content/drive/My Drive/harshi/news.csv')

#Get shape and head
df.shape
df.head(15)

    Unnamed: 0  ... label
0         8476  ...  FAKE
1        10294  ...  FAKE
2         3608  ...  REAL
3        10142  ...  FAKE
4          875  ...  REAL
5         6903  ...  FAKE
6         7341  ...  FAKE
7           95  ...  REAL
8         4869  ...  REAL
9         2909  ...  REAL
10        1357  ...  REAL
11         988  ...  REAL
12        7041  ...  FAKE
13        7623  ...  FAKE
14        1571  ...  REAL

[15 rows x 4 columns]

In [ ]:
#DataFlair - Get the labels
labels=df.label
labels.head(15)

0     FAKE
1     FAKE
2     REAL
3     FAKE
4     REAL
5     FAKE
6     FAKE
7     REAL
8     REAL
9     REAL
10    REAL
11    REAL
12    FAKE
13    FAKE
14    REAL
Name: label, dtype: object

In [ ]:
#DataFlair - Split the dataset
x_train,x_test,y_train,y_test=train_test_split(df['text'], labels, test_size=0.2, random_state=7)

In [ ]:
#DataFlair - Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)

#DataFlair - Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train) 
tfidf_test=tfidf_vectorizer.transform(x_test)

In [ ]:
#DataFlair - Initialize a PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)

#DataFlair - Predict on the test set and calculate accuracy
y_pred=pac.predict(tfidf_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 92.9%

In [ ]:
#DataFlair - Build confusion matrix
confusion_matrix(y_test,y_pred, labels=['FAKE','REAL'])

array([[589,  49],
       [ 41, 588]])